header{
background: white;
height: 85px;
padding: 20px 150px;
}

.logo{
	margin left: 2000px;
}

h1{
	margin-left: 170px;
	font-size: 40px;
	font-family: arial;
}

fieldset{
	margin-right: 400px;
	margin-left: 250px;
	border-color: #FF0066;
}

h4{
	color:black;
}

a{
	color:#999999;
	font-size: 105px;
}
.radio{
padding-left: 90px;
margin-left:.5em;
}

h5{
color: #AA0000;
}

h6{
color: #777777;
font-size: 8px;
}

ul{
	list-style-type: none;
}

footer{
	background: black;
	color:white;
	text-align:center;
	clear: both;
	padding: -20px -20px;
	
}


.linea{
	background: #FC1966;
	padding: 3px;
}

.fa:hover{
	-webkit-transition: background 4s ease;
-moz-transition: background 4s ease;
-ms-transition: background 4s ease;
-o-transition: background 4s ease;
transition: background 4s ease;
background: #C9FF6D;




