*{
	margin: 0px;
	padding: 0px;
}
.container1{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	padding: :20px;
	

	
}
.img{
	background: white;
}
.imglogo{
	margin-left: 100px;
}
.pri{
	margin: 0px 200px 0px 56px;
	width: 888px;
}

h6{
	font-size: 50px;
	margin-top: 45px;
	margin-left: 100px;
	font-weight: normal;
}

.container2{
	margin: 0 auto;
	width: 70%;
}
.PLAN{
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 70%;
	margin-left: 32px;
}

aside{

	margin-top: 50px;
	position: relative;
	float: left;

}
.PL2{
	color: #FF0066;
	font-size: 30px;
	margin-left: 12px;
	display: inline-block;
	font-weight: normal;
	
}
.Generalidad{
	float: right;
	margin-right: 70px;
	font-weight: normal;


}
.pLANES{
	display: block;
	font-weight: normal;
}

.Particulare{
	display: inline-block;
	color: #FF0066;
	color: #FF0066;
	font-size: 30px;
	margin-left: 70px;
	font-size: 30px;
	display: inline-block;
	
}
.Empresa{
	margin-left: 20%;
	display: inline-block;
	color: #FF0066;
	font-size: 30px;
}
.Profesional, .Premium, .Gratis{
	
	width: 110px;
	height: 45px;
	font-size: 17px;
	margin-left: 12px;
	padding: 20px;
	display:inline-block;
	text-align: right;background-color: #666666;
	color: white;
	float: right;
	
}
.Num1, .Num2, .Num3{
	border-right: 1px solid white;
	font-size: 55px;float: left;
	
}
.Num1{
	color: #33CC33;
}
.Num2{
	color: #FF9900;
}
.Num3{
	color: #66CCCC;
}

table{
	position: relative;
	width: 80%;
	left: -15%;
	text-align: left;
	margin-left: 20%;
 	margin-top: 20%;
	margin-right: 23%;
	color: #6B6B6F;
	
}
tr, td{
	width: 400px;
	padding: 13px;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid gray;
	
}
 strong{
	font-size: 25px;
}


footer{
	background: black;
	color:white;
	text-align:left; 
	clear: both;
	padding: -20px -20px;
	margin: 0 auto;
	width: 70%;

	
}
.linea{
	background: #FC1966;
	padding: 3px;

}


.container3{
	position: relative;
	left: 13%;
	
}

.pri:hover{

color: #AE89FF;
background-color: #ED235D;
width: 150px;
transition-property: color,background-color, width;
transition-duration: 2s, 3s, 2s;
transition-timing-function: linear;

}




.PL2:hover{

	-webkit-transition: outline 5s ease-in-out;
-moz-transition: outline 5s ease-in-out;
-ms-transition: outline 5s ease-in-out;
-o-transition: outline 5s ease-in-out;
transition: outline 5s ease-in-out;
color: #275DFF;
}


.Particulare:hover{
	-webkit-transition: outline 5s ease-in-out;
-moz-transition: outline 5s ease-in-out;
-ms-transition: outline 5s ease-in-out;
-o-transition: outline 5s ease-in-out;
transition: outline 5s ease-in-out;
color: #275DFF;
}


.Empresa:hover{
	-webkit-transition: outline 5s ease-in-out;
-moz-transition: outline 5s ease-in-out;
-ms-transition: outline 5s ease-in-out;
-o-transition: outline 5s ease-in-out;
transition: outline 5s ease-in-out;
color: #275DFF;
}


.cajita:hover{
-moz-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
}


.botonA:hover{
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}


