*{
	margin: 0px;
	padding: 0px;
}

.main{
	background-image: url('../img/bg-seccion1.png');
	border: 1px solid black;
	background-size: cover; 
	background-repeat: no-repeat;   
	background-position: center;
	height: 1300px; 
}

.container{
	margin-left:450px;	
}

.container >.trans>li >a{	
	background :#F5338E;
	text-decoration: none;
	float:left;
	color: white;
	padding: 10px;
}

.contratar{
	background: #F5338E;
	text-decoration: none;
	float:left;
	color: white;
	margin-left: 10px;
}

.img:hover{
	
font-size: 50px;
background: #39FF1F;
color: white;
float: left;
	-moz-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-webkit-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
	-o-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
-ms-transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
transform: scale(2) rotate(10deg) translateX(1px) translateY(20px);
}

.trans{
	list-style: none;
    font-size: 50px;
	margin-top: 270px;
}

.imagen{
	margin-top: 50px;
	margin-bottom: 80px;
	margin-right: 90px;	
	height: 500px;
}

aside{

	margin-top: 50px;
	position: relative;
	float: left;
}

.cool{
	margin-top: 150px;
	position: relative;
	float: left;
	height: 400px;
	font-size: 30px;
}

.cool2{
	margin-left: 50px;
}

footer{
	border-top: 7px solid #F01281;
	clear: both;
	margin: 0px 0px 40px 0px;
	font-size: 30px;
	background: #0D0D0D;
    color: white;
	text-align: left;
	clear: both;
	padding: 30px 5px;
} 
